@model message.Models.employee 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>details</title>
</head>
<body>
    <h3>@ViewBag.title</h3>
    <div>
        name:@ViewBag.person.NAME
        <br />
        id:@ViewBag.person.ID
        <br />
        modelname:@Model.NAME


    </div>
</body>
</html>