@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>form</title>
</head>
<body>
    <form asp-controller="Home" asp-action="form">
        <label asp-for="message">MESSAGE</label>
        <input asp-for="message" />
        <button type="submit">send</button>
    </form>
</body>
</html>